body {
    background: grey;
    margin: 2rem;
    font: 1rem/1.4 system-ui, sans-serif;
}

.hidden {
    display: none;
}

h1 {
    width: 375px;
    text-align: center;
}

h2 {
    margin-bottom: -0.75rem;
}

code {
    padding: 2px 4px;
    color:rgb(231, 233, 235);
    background-color: rgb(64, 66, 69);
    border-radius: 4px;
}

.dropdown {
    order: -1; /* Move the select container to the top */
    margin-bottom: 10px;
}

select {
    /* Reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 18em;
    height: 3em;
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(0, 243, 41, 0.3) 3em, rgba(129, 25, 247, 0.2) 3em);
    color: black;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

select option {
    color: inherit;
    background-color: #4a9fe4a4;
}

select:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}

.selection-box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 300px;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #6D6D6D;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 4px 4px 5px #000000;
}


.input-text {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 10rem;
    height: 3em;;
    padding: 0 1em 0 1em;
    margin-right: 7px;
    background: no-repeat right 0.8em center/1.4em, rgba(129, 25, 247, 0.2);
    color: black;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.btn-rounded {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: auto;
    height: 3em;
    padding: 0 1rem 0 1rem;
    background: no-repeat right 0.8em center/1.4em, rgba(129, 25, 247, 0.2);
    color: black;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


#data {
    white-space: pre;
    position: absolute;
    width: auto;
    min-width: 21em;
    height: auto;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 20px;
    border: 1px solid #6D6D6D;
    background-color: whitesmoke;
    box-shadow: 4px 4px 5px #000000;
}
